body {
  background-color: black;
  font-family: Helvetica, sans-serif;
  font-size: 15px;
  color: #d9d9d9;
}

.tweet-article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 12px 16px;
  -webkit-transition: background-color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out;
  max-width: 598px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.tweet-article:hover {
  background-color: rgba(255, 255, 255, 0.03);
  cursor: pointer;
}

.tweet-article > .tweet-avatar {
  -ms-flex-preferred-size: 48px;
      flex-basis: 48px;
  margin-right: 12px;
}

.tweet-article > .tweet-avatar img {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  -webkit-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
}

.tweet-article > .tweet-avatar img:hover {
  opacity: 0.8;
}

.tweet-article > .tweet {
  width: 100%;
}

.tweet-article > .tweet > .tweet-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 2px;
}

.tweet-article > .tweet > .tweet-header a {
  color: inherit;
  text-decoration: none;
}

.tweet-article > .tweet > .tweet-header .twitter-user .twitter-name {
  font-weight: bold;
  color: inherit;
}

.tweet-article > .tweet > .tweet-header .twitter-user .twitter-handle {
  color: #6e767d;
}

.tweet-article > .tweet > .tweet-header .twitter-user:hover .twitter-name {
  text-decoration: underline;
}

.tweet-article > .tweet > .tweet-header .tweet-header-divider {
  display: inline;
  color: #6e767d;
  padding-left: 4px;
  padding-right: 4px;
  font-weight: bold;
}

.tweet-article > .tweet > .tweet-header .tweet-timestamp {
  color: #6e767d;
}

.tweet-article > .tweet > .tweet-header .tweet-timestamp:hover {
  text-decoration: underline;
}

.tweet-article > .tweet > .tweet-content > p {
  margin: 0;
}

.tweet-article > .tweet > .tweet-content > .tweet-actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 425px;
  margin-top: 12px;
}

.tweet-article > .tweet > .tweet-content > .tweet-actions .tweet-action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  background-color: transparent;
  border: none;
  color: #6e767d;
  font-size: 15px;
  line-height: 20px;
  cursor: pointer;
}

.tweet-article > .tweet > .tweet-content > .tweet-actions .tweet-action span {
  padding-left: 12px;
  padding-right: 12px;
  -webkit-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}

.tweet-article > .tweet > .tweet-content > .tweet-actions .tweet-action > .action-icon {
  position: relative;
  line-height: 0;
}

.tweet-article > .tweet > .tweet-content > .tweet-actions .tweet-action > .action-icon .action-icon-backdrop {
  position: absolute;
  background-color: #6e767d;
  opacity: 0;
  margin: 0;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  border-radius: 50%;
  -webkit-transition: margin, background-color,
 opacity 0.2s ease-in-out;
  transition: margin, background-color,
 opacity 0.2s ease-in-out;
}

.tweet-article > .tweet > .tweet-content > .tweet-actions .tweet-action > .action-icon svg {
  width: 1.25em;
  height: 1.25em;
  fill: #6e767d;
  -webkit-transition: fill 0.2s ease-in-out;
  transition: fill 0.2s ease-in-out;
}

.tweet-article > .tweet > .tweet-content > .tweet-actions .tweet-action:hover .action-icon-backdrop {
  opacity: 0.1;
  margin: -8px;
}

.tweet-article > .tweet > .tweet-content > .tweet-actions .tweet-action:hover.reply .action-icon-backdrop {
  background-color: #1d9bf0;
}

.tweet-article > .tweet > .tweet-content > .tweet-actions .tweet-action:hover.reply svg {
  fill: #1d9bf0;
}

.tweet-article > .tweet > .tweet-content > .tweet-actions .tweet-action:hover.reply span {
  color: #1d9bf0;
}

.tweet-article > .tweet > .tweet-content > .tweet-actions .tweet-action:hover.retweet .action-icon-backdrop {
  background-color: #00ba7c;
}

.tweet-article > .tweet > .tweet-content > .tweet-actions .tweet-action:hover.retweet svg {
  fill: #00ba7c;
}

.tweet-article > .tweet > .tweet-content > .tweet-actions .tweet-action:hover.retweet span {
  color: #00ba7c;
}

.tweet-article > .tweet > .tweet-content > .tweet-actions .tweet-action:hover.favorite .action-icon-backdrop {
  background-color: #f91880;
}

.tweet-article > .tweet > .tweet-content > .tweet-actions .tweet-action:hover.favorite svg {
  fill: #f91880;
}

.tweet-article > .tweet > .tweet-content > .tweet-actions .tweet-action:hover.favorite span {
  color: #f91880;
}
/*# sourceMappingURL=main.css.map */